@import './_colors.scss';

.container {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: $primary3;
    color: $white;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
    padding-left: 20px;
    padding-right: 20px;
}

.content h1 {
    border-bottom: none;
    margin-bottom: 0px;
}

.blogContent {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
    padding-left: 20px;
    padding-right: 20px;
}

.blogContent h1 {
    border-bottom: none;
    margin-bottom: 0px;
}

.blogContent .image {
    margin-right: 20px;
    margin-top: 45px;
    width: 100px;
    flex-shrink: 0;
}

.title {
    color: $white;
}

.player {
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    height: 90px;
    width: 90px;
    margin: 0;
    padding: 0;
}

.audio {
    flex-grow: 1;
    margin: 0 10px;
}

.shownotes {
    color: $primary1;
    margin-top: 10px;
    text-decoration: underline;
}

.date {
    color: $primary1;
    font-size: .80em;
    margin-bottom: 7px;
}