@import './_colors.scss';

.header {
    height: 102px;
    width: 100%;
    background-color: $primary2;
    display: flex;
}

.header img {
    margin: 0;
    padding: 0;
}

.image {
    height: 140px;
    width: 140px;
    margin-left: 40px;
    align-self: flex-start;
    flex-shrink: 0;
}

.image img {
    height: 140px;
    width: 140px;
    border-radius: 10px;
}

.links {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-left: 20px;
    overflow: hidden;
}

.links a {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FDFDFD;
    display: flex;
    align-items: center;
}

.link:hover {
    text-decoration: underline;
}

.menu {
    height: 100px;
    width: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.menu img {
    padding-right: 20px;
    padding-left: 20px;
}

.menuPopup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    height: 100vh;
    width: 100vw;
    z-index: 100;
    padding: 70px 0 0 50px;
    overflow-y: scroll;
}

.menuPopup a {
    color: #FDFDFD;
    font-size: 3.8em;
}

.menuPopup div {
    
}