@import './_colors.scss';

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}

.post {
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: flex;
}

.post h3 {
    margin-bottom: 0.3rem;
}

.title {
    color: $primary2;
}

.image {
    width: 100px;
    margin-right: 20px;
    margin-top: 30px;
    flex-shrink: 0;
}

.image img{
    width: 100%;
}

.date {
    font-size: .80em;
    margin-bottom: 7px;
}