@import './_colors.scss';

.post {
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
}

.post h3 {
    margin-top: 0;
}

.title {
    color: $primary2;
}

.image {
    width: 100px;
    margin-right: 20px;
    flex-shrink: 0;
}

.image img{
    width: 100%;
}